.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

.black-backgroud {
  height: 100%;
  background-color: black;
  opacity: 0.9;
  min-height: 100vh;
}
.grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 1fr;
  gap: 10px 30px;
  grid-template-areas:
    '. .'
    'screen btns';
  padding-right: 3%;
  padding-left: 3%;
}
.cart-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  max-width: 300px;
  padding-right: 3%;
  padding-left: 3%;
}
.count-container {
  font-size: 18px;
  font-weight: 800;
  color: #f5efdf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.screen-layout {
  align-self: stretch;
}

@media only screen and (max-width: 768px) {
  .grid-layout {
    grid-template-rows: auto auto;
    grid-template-areas:
      'btns btns'
      'screen screen';
  }
  .screen-layout {
    grid-area: screen;
    min-width: 100%;
    align-self: stretch;
  }
  .nav-bar {
    grid-area: btns;
    overflow: auto;
    white-space: nowrap;
  }
}
