html {
  direction: rtl;
  min-height: 100vh;
  font-family: 'Noto Serif Hebrew', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
input,
label,
select,
textarea,
button,
p {
  direction: rtl;
  font-family: 'Noto Serif Hebrew', serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  font-family: 'Noto Serif Hebrew', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
